@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 border-border;
  }

  html,
  body,
  :root {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground;
  }

  textarea {
    @apply resize-none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: none;
  }

  :root {
    /* slate-50 */
    --background: #f8fafc;
    /* slate-900 */
    --foreground: #0f1729;
    /* white */
    --card: #ffffff;
    /* slate-900 */
    --card-foreground: #0f1729;
    /* slate-900 */
    --popover: #ffffff;
    /* slate-50 */
    --popover-foreground: #0f1729;
    /* purple-500 */
    --primary: #a855f7;
    /* slate-50 */
    --primary-foreground: #f8fafc;
    /* purple-600 */
    --secondary: #9234ea;
    /* slate-50 */
    --secondary-foreground: #f8fafc;
    /* slate-200 */
    --muted: #e2e8f0;
    /* slate-900 */
    --muted-foreground: #0f1729;
    /* slate-500 */
    --accent: #64748b;
    /* slate-50 */
    --accent-foreground: #f8fafc;
    /* rose-500 */
    --destructive: #f43e5c;
    /* slate-50 */
    --destructive-foreground: #f8fafc;
    /* emerald-500 */
    --success: #10b981;
    /* slate-50 */
    --success-foreground: #f8fafc;
    /* slate-200 */
    --border: #e2e8f0;
    /* slate-50 */
    --input: #f8fafc;
    /* purple-500 */
    --ring: #a855f7;
    --radius: 0.5rem;
  }

  .dark {
    /* slate-950 */
    --background: #030617;
    /* slate-50 */
    --foreground: #f8fafc;
    /* slate-900 */
    --card: #0f1729;
    /* slate-50 */
    --card-foreground: #f8fafc;
    /* slate-900 */
    --popover: #0f1729;
    /* slate-50 */
    --popover-foreground: #f8fafc;
    /* purple-500 */
    --primary: #a855f7;
    /* slate-50 */
    --primary-foreground: #f8fafc;
    /* purple-600 */
    --secondary: #9234ea;
    /* slate-50 */
    --secondary-foreground: #f8fafc;
    /* slate-600 */
    --muted: #48566a;
    /* slate-50 */
    --muted-foreground: #f8fafc;
    /* slate-400 */
    --accent: #94a3b8;
    /* slate-900 */
    --accent-foreground: #0f1729;
    /* rose-500 */
    --destructive: #f43e5c;
    /* slate-50 */
    --destructive-foreground: #f8fafc;
    /* emerald-500 */
    --success: #10b981;
    /* slate-50 */
    --success-foreground: #f8fafc;
    /* slate-800 */
    --border: #1d283a;
    /* slate-700 */
    --input: #1d283a;
    /* purple-500 */
    --ring: #a855f7;
    --radius: 0.5rem;
  }
}

@layer components {
  /* Buttons */
  .button-rounded {
    @apply p rounded-full bg-input hover:bg-muted focus-within:bg-muted border-[1px] px-4 md:px-[12px] py-2 text-left transition-colors;
  }

  .button-text {
    @apply hover:bg-muted focus:bg-muted focus-within:bg-muted group-focus:bg-muted rounded-md transition-colors inline-block p-1 p;
  }

  /* Cards */
  .card {
    @apply p-4 md:p-card;
  }

  .form-card {
    @apply w-full xs:w-[400px] [&>:not(:last-child)]:mb-4;
  }

  /* Typography */
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .p {
    @apply leading-7 text-[1rem];
  }

  .blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  .inline-code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }

  .large {
    @apply text-lg font-semibold;
  }

  .muted {
    @apply text-sm;
  }

  /* Separator */
  .separator {
    @apply bg-border h-[1px] w-full;
  }
}

@layer utilities {
  .container {
    @apply max-w-container;
  }

  .gutter {
    @apply px-[20px] md:px-[40px];
  }

  .overlay {
    @apply relative after:pointer-events-none after:h-full after:w-full after:absolute after:top-0 after:left-0 after:bg-muted after:transition-all after:opacity-0 hover:after:opacity-20 focus:after:opacity-20 focus-within:after:opacity-20;
  }
}
