@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 border-border;
  }

  html,
  body,
  :root {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 270 0% 95%;
    --foreground: 270 0% 10%;
    --card: 270 0% 90%;
    --card-foreground: 270 0% 15%;
    --popover: 270 0% 95%;
    --popover-foreground: 270 95% 10%;
    --primary: 270 95.2% 75.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 270 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 232 10% 85%;
    --muted-foreground: 270 0% 40%;
    --accent: 232 10% 80%;
    --accent-foreground: 270 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 270 0% 90%;
    --border: 270 20% 50%;
    --input: 270 20% 50%;
    --ring: 270 95.2% 75.3%;
    --radius: 0.5rem;
  }

  .dark {
    /* slate-950 */
    --background: #020617;
    /* slate-50 */
    --foreground: #f8fafc;
    /* slate-900 */
    --card: #0f172a;
    /* slate-600 */
    /* slate-50 */
    --card-foreground: #f8fafc;
    --popover: 270 10% 5%;
    --popover-foreground: 270 0% 90%;
    /* purple-500 */
    --primary: #a855f7;
    /* slate-50 */
    --primary-foreground: #f8fafc;
    --secondary: 270 10% 20%;
    --secondary-foreground: 0 0% 100%;
    /* purple-600 */
    --focus: #7c3aed;
    /* slate-600 */
    --muted: #475569;
    --muted-foreground: 270 0% 60%;
    /* slate-400 */
    --accent: #94a3b8;
    --accent-foreground: 270 0% 90%;
    /* rose-500 */
    --destructive: #f43f5e;
    --destructive-foreground: 270 0% 90%;
    /* slate-800 */
    --border: #1e293b;
    /* slate-700 */
    --input: #1e293b;
    --ring: 270 95.2% 75.3%;
    --radius: 0.5rem;
    /* emerald-500 */
    --success: #10b981;
  }
}

@layer components {
  a,
  .is-interactive {
    @apply text-foreground hover:bg-muted focus-within:bg-input rounded-md transition-colors inline-block;
  }

  textarea {
    @apply resize-none;
  }

  .button-rounded {
    @apply p rounded-full bg-input hover:bg-muted focus-within:bg-muted border-[1px] px-[12px] py-2 text-left transition-colors;
  }

  .card {
    @apply p-card;
  }

  .form-card {
    @apply w-full xs:w-[400px] [&>:not(:last-child)]:mb-4;
  }

  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .p {
    @apply leading-7;
  }

  .blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  .inline-code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }

  .large {
    @apply text-lg font-semibold;
  }

  .muted {
    @apply text-sm;
  }

  .separator {
    @apply bg-border h-[1px] w-full;
  }
}

@layer utilities {
  .avatar-lg {
    @apply w-[72px] h-[72px] text-2xl;
  }

  .avatar-sm {
    @apply w-[48px] h-[48px];
  }

  .card-custom {
    @apply p-card dark: bg-slate-900;
  }

  .container {
    @apply max-w-[1280px];
  }

  .gutter {
    @apply px-[20px] md:px-[40px];
  }
}
